.git
.github
.ai
.claude
.codex
.cursor
.kilocode

vendor
node_modules

storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
storage/debugbar/*
storage/installed
storage/installing

public/build
public/css
public/js
public/hot
public/storage
public/vendor

.env
.env.*
!.env.example

.phpunit.result.cache
tests

.idea
.vscode
*.log

docker-compose*.yml
Dockerfile
.dockerignore
README.md
CHANGELOG.md
CODE_OF_CONDUCT.md
UPGRADE.md
LICENSE
